*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 242, 245);
}
header{
  text-align: center;
  padding: 20px 0px;
  background-color: blue;
  color: White;
  border-radius: 7px;
}


.quize{
    height: 100vh;
    
}
