
.header h1{
   text-align: center;
}
.flex-container{
   display: flex;
   flex-direction: row;
   border: 1px solid black ;
   align-content: space-evenly;
}
.flex-item{
   margin: 10px;
   flex-direction: row;
   border: 2px solid black;
   padding: 10px;
   background-color: lightblue;
}
.flex-direction-row{
   border: 1px solid black;
}
.justify-center{
   border: 1px solid black;
   justify-content: center;
   display: flex;
   flex-direction: row;
   align-content: center;
   margin: 3px;
}
.justify-content{
   border: 1px solid black;
   justify-content: space-between;
   display: flex;
   flex-direction: row;
   margin: 3px;
}