*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 242, 245);
}
header{
  text-align: center;
  padding: 20px 0px;
  background-color: blue;
  color: White;
  border-radius: 7px;
}
header h1{
    border: 2px solid red;
    padding: 10px;
    margin: 5px;
}

.quize{
    height: 100vh;
    
}
.quize-body{
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(55, 0, 255);
    padding: 20px;
    width: 1200px;
    margin-left: 10%;
    margin-top: 60px;
}
.questions{
    padding: 10px;
    background-color: rgba(186, 197, 255, 0.508);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.question{
    padding: 10px 0px;
}
.box{
    background-color: rgb(255, 255, 78);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 1000px;
    padding: 20px;
    font-size: 12px;
}